<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GCM cirocosta</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }

    {%if logged%}
    #background_shadow {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        display: none;
        width: 100%;
        background: rgba(255,255,255,0.8);
    }

    .custom_modal {
        position: absolute;
        margin-left:5%;
        top: 10%;
        width: 80%;
        max-width: 700px;
        background: white;
        z-index: 3 !important;
        display: none;
        padding: 4%;
        border: 1px solid rgba(200,200,200,0.5);
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }

    .link_conversa{
        padding: 10px;
        margin-bottom: 10px;
        color: #808080;
        transition: background 0.5s;
        -webkit-transition: background 0.5s;
        background: #F8F8F8;
        box-shadow: 2px 2px 1px rgb(220,220,220);
    }

    .link_conversa:hover {
        background: #F0F0F0;
        cursor:pointer;
    }

    {%endif%}
    </style>
  </head>  
  <body>

    {%if not logged%}
        <div class="jumbotron">
            <div class="container">
                <h1>GDG Meetup Chat</h1>
                <p>Conversas rápidas com usuários de Android</p>
                <p><a class="btn btn-danger" id="botao_login" href="{{plus_btn_url}}">Login with +</a></p>
            </div>
        </div>    
    {%else%}


    <div id="background_shadow">
    </div>


    <div class="page-header">
        <h1>Conversas <small>{{user.nickname}}</small></h1>
    </div>

    {%if conversas%}
        {%for conversa in conversas%}
        <div class="link_conversa" id="{{conversa.key.urlsafe}}">
            <strong>{{conversa.nome}}</strong>
        </div>
        {%endfor%}
    {%else%}
    <p class="lead">Sem Conversas Registradas</p>
    {%endif%}
    

     <!--    <h1>Envie-me uma mensagem!</h1>
        <form action="/gcm_server/send_to_device" method="post">
            <input class="form-control" type="text" name="conteudo" placeholder="Mensagem" />
            <input style="margin-top:10px" type="submit" class="btn btn-default" value="Enviar" />
        </form>
        {%if devices%}
            <h3>Devices:</h3>
            <ul class="list-inline">
            {%for device in devices%}
                <li>{{device}}</li>
            {%endfor%}
            </ul>
        {%endif%}
 -->


        {%if not device_registred%}
            <div class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Atenção,</strong> seu celular ainda não foi registrado para este usuário.
            </div>

            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-default" 
                    id="botao_criar_conversa">Criar Conversa</a>
                </div>
                <div class="col-md-4"><a class="btn btn-default pull-center" id="botao_buscar_conversa">Buscar Conversa</a></div>
                <div class="col-md-4"><a class="btn btn-danger pull-right" id="botao_login" href="{{plus_btn_url}}">Logout</a></div>
            </div>
        {%endif%}


    <div id="criar_conversa" class="custom_modal">
        <h2 style="position:absolute;top:0">Criar</h2>
        <div class="row" style="margin-top:20px">
            <!-- <form method="post" action=""> -->
                <div class="form-group">
                    <label for="nome_conversa">Nome da Conversa</label>
                    <input type="text" class="form-control" name="nome_conversa" id="conversa_nome"
                    placeholder="Nome a ser encontrado na busca">
                </div>
                <div class="form-group">
                    <label for="chave_conversa">Chave</label>
                    <input type="text" class="form-control" name="chave_conversa" id="conversa_chave"
                     placeholder="(opcional) Chave para bloquear acesso">
                </div>
                <label><input type="checkbox" name="permite_anonimo" 
                    value="true"> Permitir Postagens Anônimas</label>
                <p>
                    <input type="submit" class="btn btn-success" id="btn_criar" value="Criar!">
                </p>
            <!-- </form> -->
        </div>
    </div>


    <div id="buscar_conversa" class="custom_modal">
        <h2 style="position:absolute;top:0">Buscar Conversas</h2>
        <form style="margin-top:30px">
            <input type="text" class="form-control" name="busca_conversa"
            placeholder="ex: Android Meetup #9">
            <input type="submit" class="btn btn-success" id="btn_busca" value="Vai!"
                style="margin-top:10px">
        </form>
<!--             <img id="ajax_loader_criar_conversa" 
            src="/stylesheets/loader.gif" alt="Carregando"/>
 -->    
    </div>

    <div id="entrar_sala" class="custom_modal">
        <h2 style="position:absolute;top:0">Entrar na Conversa</h2>
        
            <label for="chave_sala" style="margin-top:10px">Chave</label>
            <input type="text" class="form-control" id="input_chave_sala" name="chave_sala" id="chave_sala"
             placeholder="Entre com a chave da conversa">
             <p>
                <input type="submit" style="margin-top:4px" class="btn btn-success" 
                id="btn_entrar_chave" value="Entrar!">
            </p>
        
    </div>




    <script type="text/javascript">
    $(function(){
        var $div_criar_conversa = $('#criar_conversa');
        var $div_buscar_conversa = $('#buscar_conversa');
        var $back_shad = $('#background_shadow');
        var $custom_modal = $('.custom_modal');
        var $btn_criar = $('#btn_criar');

        var selecionado = null;
        var aberto = -1;

        $(document).keyup(function(e) {
            if(aberto == 1){
                if (e.keyCode == 27){
                    closeAnyModal(); 
                }
            }
        });

        function showModal(modal){
            selecionado = modal;
            aberto *= -1;
            modal.fadeIn(200);
            $back_shad.fadeToggle(200);
        }

        function closeAnyModal(){
            if(aberto == 1){
                selecionado.fadeOut(200);
                $back_shad.fadeOut(200);
                aberto *= -1;
            }
        }


        $('.link_conversa').click(function(){
            var id_elemento = $(this).attr('id');
            showModal($('#entrar_sala'));
            $('#btn_entrar_chave').click(function(){
                $.ajax({
                    type: "POST",
                    url: "/gcm_server/valida_chave",
                    data: {
                        "chave": $('#input_chave_sala').val(),
                        "key_conversa": id_elemento
                    }
                }).done(function(msg){
                    if (msg == "error"){
                        var keydowns = 0;
                        $('#btn_entrar_chave')
                            .removeClass('btn-success')
                            .addClass('btn-danger')
                            .attr('value','Failed');
                        if(keydowns == 0){
                            $('#input_chave_sala').keydown(function(){
                                $('#btn_entrar_chave')
                                    .removeClass('btn-danger')
                                    .addClass('btn-success')
                                    .attr('value','Entrar!');
                                keydown = 1;
                            });
                        }
                    } else {
                        $('#btn_entrar_chave')
                            .attr('value','entrando...');
                    }
                });
            });
        });

        $btn_criar.click(function(){
            var text_btn_criar = $btn_criar.text();
            $btn_criar.text('enviando');
            $.ajax({
                type: "POST",
                url: "/gcm_server/cria_conversa",
                data: { 
                    "nome": $('#conversa_nome').val(), 
                    "chave": $('#conversa_chave').val(),
                    "user_id": {{user.user_id}} 
                }
            }).done(function( msg ) {
                $btn_criar.text(text_btn_criar);
                closeAnyModal();
            });  
        });

        $('#botao_criar_conversa').click(function(){
            showModal($div_criar_conversa);
        });

        $('#botao_buscar_conversa').click(function(){
            showModal($div_buscar_conversa);
        });

        $back_shad.click(function(){
            closeAnyModal();
        });

    });
    </script>

    {%endif%}

  </body>
</html>